@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');


* {

    margin: 0;
    padding: 0;
    border: none;
    

}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

h1 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #206139;
}
header {
    background-image: linear-gradient(to left, #285e55, #635a5e);

    /* fallback color if gradient does not show up */

    background-color: #534e51;
    padding: 2px;

    /* border-bottom: 5px solid #534e51; */
    border-bottom: 5px solid #534e51;
    height: 90px;
}
#logo {
    
    float: left;
    margin-left: 20px;
    font-size: 250%;
    line-height: 75px;
}

/*navigation links */

#menu {
    float: right;
    font-size:110%;
    letter-spacing: 5px;
    line-height: 75px;
}


#menu li {

    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {

    text-decoration: none;
    color: inherit;
}

#menu a:hover {

    border-bottom:2px solid #105807;
}

.active {

border-bottom: 2px solid #ffffff;

}

/* hero image */

#hero-outer {
    
    height: 400px;
    width: 100%;
    overflow: hidden;

    position: relative;

}


#hero-image {

    height: 400px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    
     /* animates zoom effect on loading page */
     animation-name: hero-image-zoom;
     animation-duration: 8s;
     animation-fill-mode: forwards;
 }
 
 /* creates the level of zoom for the hero image */

 @keyframes hero-image-zoom {
     from {
         transform: scale(1);
     }
 
     to {
         transform: scale(1.1);
     }
 

}

.hero-h1 {
    color: white;
    margin-bottom: 0;
}

#hero-overlay-text-box {
    color: white;
    letter-spacing: 5px;
    padding: 20px;
    position: absolute;
    top: 30%;
    background-color: rgba(69, 77, 75, 0.7);
}
#intro-text {
    margin: 2rem;
}

#intro-text p {
    line-height: 4rem;
    text-align: justify;
}

#intro-text a {
    color: #FF007F;
}

#intro-text a:hover {
    color: #008873;
}

/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {
    header {
        height: 144px;
        padding: .6rem;
    }

    #hero-holder,
    #hero-image {
        height: 400px;
    }

    #hero-overlay-text-box {
        padding: 1rem;
    }

    #menu-holder {
        margin-left: 1rem;
        margin-top: 7px;
        clear: left;
        float: left;
        line-height: 10px;
    }

    #top-button {
        padding: 0.9rem 1.5rem;
        font-size: 0.8rem;
    }

    nav li:hover {
        background-color: #FF8AC4;
    }

}

/* For smartphone screen sizes 600px and below */
@media screen and (max-width: 600px) {

    #hero-holder,
    #hero-image {
        height: 300px;
    }

    .hero-h1 {
        font-size: 15px;
       
    }

    #hero-overlay-text-box {
        padding: 1rem;
        position: absolute;
        /* left: 15%; */
        top: 30%;
    }

    #menu-holder {
        margin-right: 1rem;
    }

    
    
}
